<nav class="navbar navbar-expand-sm navbar-light" id="neubar">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="../../assets/images/yakkBrothers.png" height="100" /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item">
          <a class="nav-link mx-2" aria-current="page" routerLink="/homePage">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="#">Case Study</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="#">Company</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
