<app-nav-bar></app-nav-bar>
<div class="main">
    <div class="header">
        <div class="header-content">
            <h3>Welcome to Yakk Brothers</h3><br>
            <h1>A creative way to learn Web Development</h1>
        </div>
        <img class="header-img" src="../../assets/images/header-bg.jpg" alt="">
    </div>
</div><br>
<div class="body">
    <div class="container-fluid YakkBrothers">
        <div class="container pt-xxl-5 YakkBrothers-body">

            <div class="body-text pt-xxl-5">
                <h1 class="pt-xxl-5">Your website <br> development company!</h1>
                <p>We’re a website development company that loves finding solutions to complicated problems! We focus on
                    the betting industry, but we also implement solutions for fintech, healthcare, IoT, and startups. By
                    creating fast and efficient mobile and web applications, we will help your business grow.</p>
                <button class="btn btn-outline-primary mt-xxl-3" (click)="contactUs()">Contact Us</button>
            </div>
            <div class="body-img">
                <img src="../../assets/images/title-section-graphic-1-new.svg" alt="">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container mt-xxl-5 services ">
            <h1>Software development company services</h1>
            <p>Yakk Brothers as a software development company provides services ranging from product design to delivery
                and launch. We are ready to design your product and implement web apps that accomplish your business
                goals!</p>
            <div class="card1 mt-xxl-5">
                <div class="card-left">
                    <img src="../../assets/images/webdev.jpg" alt="">
                </div>
                <div class="card-right">
                    <h2>Web Development (Front-End)</h2>
                    <p class="pt-4">Using the newest technologies, On the front-end side, lets us create scalable,
                        real-time, and efficient solutions that definitely will move your business to the next level!
                    </p>
                    <h3><a href="">Learn More</a></h3>
                    <div class="icons">
                        <img src="../../assets/images/logos/web.png" alt="">
                        <div>
                            <img src="../../assets/images/logos/ng.png" alt="">
                        </div>
                        <!-- <img src="../../assets/images/logos/css.png" alt="">
                            <img src="../../assets/images/logos/js.png" alt=""> -->
                    </div>
                </div>
            </div>

            <div class="card2 mt-2">
                <div class="card-left">


                    <h2>Web Development (Backend)</h2>
                    <p class="pt-4">With cutting-edge backend development, we create robust, efficient, and reliable
                        systems that ensure your business operates seamlessly and grows exponentially.
                    </p>
                    <div class="learnMore">
                        <h3><a href="">Learn More</a></h3>
                    </div>
                    <div class="icons">
                        <img src="../../assets/images/logos/mongo.png" alt="">
                        <img src="../../assets/images/logos/nodejs.png" alt="">
                        <div>
                        </div>
                        <!-- <img src="../../assets/images/logos/css.png" alt="">
                            <img src="../../assets/images/logos/js.png" alt=""> -->
                    </div>


                </div>
                <div class="card-right ">
                    <img src="../../assets/images/1-12.webp" alt="">

                </div>
            </div>

            <div class="card1 mt-2 d">
                <div class="card-left dup">
                    <img src="../../assets/images/img2.jpg" alt="">
                </div>
                <div class="card-right ">
                    <h2>FullStack Web Development </h2>
                    <p class="pt-4">Harnessing the power of full-stack development with Node.js and Angular, we provide
                        comprehensive, seamless, and dynamic solutions that elevate your business operations. Our
                        expertise in these technologies ensures rapid development, real-time capabilities, and a unified
                        user experience.
                    </p>
                    <h3><a href="">Learn More</a></h3>
                    <div class="icons">
                        <img src="../../assets/images/logos/ng.png" alt="">
                        <img src="../../assets/images/logos/nodejs.png" alt="">
                        <img src="../../assets/images/logos/mongo.png" alt="">
                        <div>
                        </div>
                        <!-- <img src="../../assets/images/logos/web.png" alt=""> -->
                        <!-- <img src="../../assets/images/logos/css.png" alt="">
                            <img src="../../assets/images/logos/js.png" alt=""> -->
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container mt-xxl-5 trusted">
        <h1 class="mt-xxl-5">Trusted by leading brands</h1>
        <p>There is no better recommendation than the opinion of a satisfied customer. See what founders and managers say about cooperation with YakkBrothers.</p>
        <div class="card p-5">
            <h2>HurTech</h2>
            <p>It was pretty impressive how quickly
                they got acquainted with the project requirements
                and identified the challenges ahead.
                We also appreciated their dedication
                and eagerness to bring the highest value from day one.</p>
                <div class="user">
                    <img class="user" src="../../assets/images/user.png" alt="">
                    <p>Syed Waji ul Hassan Naqvi</p>
                </div>
        </div>
    </div>
    <div class="footer mt-xxl-5">
        <div class="container">
            <p>@Made By Yakk-Brothers</p>
        </div>

    </div>
</div>
